body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:linear-gradient(to right,#5242a0,#68b167) #FF7F50;
}

.container {
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    background: linear-gradient(to right,#79eaac,#74479f);
    border: 1px solid #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

#status {
    margin-top: 20px;
    font-size: 1.2em;
}